<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FeedND | Order Pickup Online</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="css/theme.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Feed ND</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/restaurants">Restaurants</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/orders/checkout">Checkout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Feed ND</h1>
        <p>Keep yourself fed by ordering online and picking food up or getting it delivered from great establishments nearby.</p>
      </div>

      <div class="page-header">
        <h1>{{ info["name"] }}</h1>
        <h5><a href="{{ info["website_url"] }} ">Website</a>  {{ info["phone"] }}</h5>
        <h5>{{ info["street_address"]}} {{ info["locality"] }}</h5>
      </div>
      <div class="row">
        <div class="col-sm-4">
        </div><!-- /.col-sm-4 -->
      </div>

      <table width="100%">
      <tr><td><div class="hours"></div></td><td><div class="menu"></div></td><td><div class="sections"></div></td><td><div class="items"></div></td></tr>
      </table>

    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
    function initialize() {
      $.ajax({
        contentType: 'application/json',
        dataType: 'json',
        success: function(data){
          $(".menu").empty();
          $.each(data.menus, function(i, pt) {
              $(".menu").append('<a id="menuButton'+i+'" class="list-group-item"><h4 class="list-group-item-heading">'+pt.name+'</h4> <p class="list-group-item-text">Sections: '+pt.numSections+'</p></a>');
              $('#menuButton'+i).click(function() {
                openMenu(i);
              });
            });
        },
        error: function(){
            alert("Can not refresh orders");
        },
        processData: false,
        type: 'GET',
        url: "menu?outputformat=json" 
      });
      $.ajax({
        contentType: 'application/json',
        dataType: 'json',
        success: function(data){
          $(".hours").empty();
          $.each(data.hours, function(i, pt) {
              $(".hours").append('<a><h4 class="list-group-item-heading">'+pt.day+'</h4> <p class="list-group-item-text">Opens:'+pt.open+' Closes:'+pt.close+'</p></a>');
            });
        },
        error: function(){
            alert("Can not refresh orders");
        },
        processData: false,
        type: 'GET',
        url: "hours?outputformat=json" 
      });
    }
    function openMenu(which)
    {
      $.ajax({
        contentType: 'application/json',
        dataType: 'json',
        success: function(data){
          $(".sections").empty();
          $.each(data.sections, function(i, pt) {
              $(".sections").append('<a id="sectionButton'+i+'" class="list-group-item"><h4 class="list-group-item-heading">'+pt.name+'</h4> <p class="list-group-item-text">Items:'+pt.numItems+'</p></a>');
              $('#sectionButton'+i).click(function() {
                openSection(i);
              });
            });
        },
        error: function(){
            alert("Can not refresh orders");
        },
        processData: false,
        type: 'GET',
        url: "menu/"+which+"/sections?outputformat=json" 
      });
    }
    function openSection(which)
    {
      $.ajax({
        contentType: 'application/json',
        dataType: 'json',
        success: function(data){
          $(".items").empty();
          $.each(data.items, function(i, pt) {
              $(".items").append('<a id="itemButton'+i+'" class="list-group-item"><h4 class="list-group-item-heading">'+pt.name+'</h4> <p class="list-group-item-text">'+pt.description+'       '+pt.price+'</p></a>');
              $('#itemButton'+i).click(function() {
                addItem(i);
              });
            });
        },
        error: function(){
            alert("Can not refresh orders");
        },
        processData: false,
        type: 'GET',
        url: "menu/15/sections/"+which+"/items?outputformat=json" 
      });
    }
    function addItem(which)
    {
      $.ajax({
        contentType: 'application/json',
        dataType: 'json',
        success: function(data){
          alert("Item added to cart");
        },
        error: function(){
            alert("Can not refresh orders");
        },
        processData: false,
        type: 'PUT',
        url: "/orders/?item="+which+"&outputformat=json" 
      });
    }
    initialize();
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>